.header-bg {
    background-color: #264653;
}

.btn-color {
    background-color: #E76F51;
}

.btn-outline {
    color: #E76F51;
    border: 1px solid #E76F51;
    background-color: white;
}

.text-color {
    color: #E76F51;
}

.w-10 {
    width: 7%;
    border: 1px solid #E76F51;
}

.f-1 a {
    text-decoration: none;
    color: white;
}

.f-2 a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:576px) {
    .f-3 {
        text-align: center;
    }
}